# Variáveis de ambiente
.env

# Cache Python
__pycache__/

# Virtual environment
.venv/

# Node
node_modules/

# Arquivos de IDE
.vscode/

# Testes
.pytest_cache/
uploads/
visualmemory.db
*.db
.ruff_cache/

# Docker volumes locais (dados e uploads)
uploads_prod/
data_prod/
