.scrollbar-visualmemory {
  scrollbar-width: thin;
  scrollbar-color: var(--border) var(--surface);
}

.scrollbar-visualmemory::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-visualmemory::-webkit-scrollbar-track {
  background: var(--surface);
  border-radius: 8px;
  margin-block: 4px;
}

.scrollbar-visualmemory::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 8px;
  border: 2px solid var(--surface);
}

.scrollbar-visualmemory::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}