.title {
  color: var(--text);
  margin-bottom: var(--gap-lg);
  word-break: break-word;
}

.h1 {
  font-size: var(--font-size-xxl);
  text-align: center;
}

.h2 {
  font-size: var(--font-size-xl);
  text-align: left;
}

@media (max-width: 600px) {
  .h1 {
    font-size: var(--font-size-xl);
  }
  .h2 {
    font-size: var(--font-size-lg);
  }
}