.input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 6px;

  border: 1px solid rgba(255, 234, 204, 0.15);
  background: #201826;

  font-size: 15px;
  color: #ffeacc;

  outline: none;
  transition: all 0.2s ease;
}

.input::placeholder {
  color: rgba(255, 234, 204, 0.5);
}

.input:focus {
  border-color: #de1d6a;
  box-shadow: 0 0 0 2px rgba(222, 29, 106, 0.2);
}